.w-2em{
    width: 2em;
}
.w-3em{
    width: 3em;
}
.w-4em{
    width: 4em;
}
.w-5em{
    width: 5em;
}
.w-6em{
    width: 6em;
}
.w-7em{
    width: 7em;
}
.w-8em{
    width: 8em;
}
.w-9em{
    width: 9em;
}
.w-10em{
    width: 10em;
}


.h-2em{
    height: 2em;
}
.h-3em{
    height: 3em;
}
.h-4em{
    height: 4em;
}
.h-5em{
    height: 5em;
}
.h-6em{
    height: 6em;
}
.h-7em{
    height: 7em;
}
.h-8em{
    height: 8em;
}
.h-9em{
    height: 9em;
}
.h-10em{
    height: 10em;
}


.w-10px{
    width: 10px;
}
.w-20px{
    width: 20px;
}
.w-30px{
    width: 30px;
}
.w-40px{
    width: 40px;
}
.w-50px{
    width: 50px;
}
.w-60px{
    width: 60px;
}
.w-70px{
    width: 70px;
}
.w-80px{
    width: 80px;
}
.w-90px{
    width: 90px;
}
.w-100px{
    width: 100px;
}

.h-10px{
    height: 10px;
}
.h-20px{
    height: 20px;
}
.h-30px{
    height: 30px;
}
.h-40px{
    height: 40px;
}
.h-50px{
    height: 50px;
}
.h-60px{
    height: 60px;
}
.h-70px{
    height: 70px;
}
.h-80px{
    height: 80px;
}
.h-90px{
    height: 90px;
}
.h-100px{
    height: 100px;
}
